body{
        font-family: 'Lobster', cursive;
        font-family: 'Merienda', cursive;
        font-size: 700;
        margin: 0%;
}
h1{
        font-size: 50px;
}
p{
        padding: 20px;
}
.blue{
        color: brown;
}
section{
        display: flex;
        margin-bottom: 40px;
}
.left-2{
        width: 50%;
        padding-left: 2%;
}
.left img{
        height: 30rem;
        width: 30rem;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 1rem;
        border: 5rem solid var(--red);
}

.bold{
        text-align: center;
        color: rosybrown;
}

.right-2{
        width: 50%;
        padding-left: 10%;
}

.right img{
        height: 30rem;
        width: 30rem;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 1rem;
        border: 5rem solid var(--red);
}
.link-button{
        text-decoration: none;
        background-color: crimson;
        padding: 10px 40px;
        color: black;
        font-size: 700;
        border-radius: 4px;

}
.top-banner
{
   background-image: url(img/3.jpg);
   background-repeat: no-repeat;
   margin: 0%;
   padding-bottom: 40px;

}
.banner{
        background-image: url(img/3.jpg);
        background-repeat: no-repeat;
        background-position: ;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 20px;
}
.item{
        width: 40%;
        margin-left: 2%;
        margin-right: 2%;
        padding-left: 10px;
        border-radius: 20px;
        box-shadow: 15px 15px 50px gray;
        border-left: 10px solid;
        height: 10%;
        
}

.item img{
        width: 50%;
        display: block;
        margin: 1px auto;
}

.experience{
              display: flex;
}
.item{
      left: 50%;
      
}

.box{
      background-image: url(img/bg3.jpg);
      background-repeat: no-repeat;
      background-position: left;
      background-size: 300px;
      background-color: #D4E6F1;
      padding-top: 30px;
      padding-bottom: 40px;
      margin: auto;
}
.heading{
        background-color: #D4E6F1;
        padding-bottom: 30px;
        font-size: 40px;
        margin: auto;
}
footer{
        background-color: black;
        color: darksalmon;
        text-align: center;
}
.red{
        color: red;
}

.corona img{
        margin-top: 5%;
        height: 600px;
        width: 400px;

}
.corona{
        background-repeat: no-repeat;
        background-position: right;
        background-size: 200px;
        background-image: url(img/shape-3.png);
        background-position-y: bottom;
}

.corona img{
        background-repeat: no-repeat;
        background-position: left;
        background-size: 150px;
        background-image: url(img/shape-3.png);
        background-position-y: top 2rem;
}

