body{
        background-color: #fde7e7;
        font-family: 'Lobster', cursive;
        font-family: 'Merienda', cursive;
        font-size: 700;
        margin: 0%;
}
h1{
        font-size: 50px;
}
p{
        padding: 20px;
}
.blue{
        color: brown;
}
section{
        display: flex;
        margin-bottom: 40px;
}
.left-2{
        width: 50%;
        padding-left: 2%;
}
.left img{
        height: 30rem;
        width: 30rem;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 1rem;
        border: 5rem solid var(--red);
}

.bold{
        text-align: center;
        color: rgb(238, 22, 58);
}

.dev{
        color: purple;
}

.right-2{
        width: 50%;
        padding-left: 10%;
        
}

.right img{
        height: 30rem;
        width: 30rem;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 1rem;
        border: 5rem solid var(--red);
}
.link-button{
        text-decoration: none;
        background-color: crimson;
        padding: 10px 40px;
        color: black;
        font-size: 700;
        border-radius: 4px;

}
.top-banner
{
   
   background-repeat: no-repeat;
   margin: 0%;
   padding-bottom: 40px;

}
.banner{
        
        background-repeat: no-repeat;
        background-position: ;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 20px;
}
.item{
        width: 40%;
        margin-left: 2%;
        margin-right: 2%;
        padding-left: 10px;
        border-radius: 20px;
        box-shadow: 15px 15px 50px gray;
        
}

#border{
        border-left: 7px solid;
        border-image: linear-gradient(blue,cyan);
        border-image-slice: 1;
}

.item img{
        width: 50%;
        display: block;
        margin: 1px auto;
}

.experience{
              display: flex;
}
.item{
      left: 50%;
      
}


.contact img{
        width: 60%;
        display: block;
        margin: 1px auto;
        padding-left: 50%;
           
}

.contact{
       
       margin: 1px;
       padding-left: 20%;
}

footer{
        background-color: #0B0D17;
        text-align: center;
        padding: 45px;
    }
    footer h3{
        font-family: 'Lobster', cursive;
        font-size: 36px;
        margin-top: 0;
        color: #FFFFFF;
    }
    footer p{
        margin-bottom: 0;
        color: #D9DBE1;
    }
    .text-brand{
            color: red;
    }